<section [ngSwitch]="isAuth">

  <ng-container *ngSwitchCase="false">

    <md-menu #appMenu="mdMenu">
					<button md-menu-item (click)="login('google')"> With <img width="25" src="assets/google-logo.png"/> </button>
					<button md-menu-item (click)="login('facebook')"> With <img width="25" src="assets/facebook-logo.png"/> </button>
					<button md-menu-item (click)="login('github')"> With <img width="25" src="assets/github-logo.png"/> </button>
				</md-menu>
				<button  md-icon-button [mdMenuTriggerFor]="appMenu">
					<md-icon>person</md-icon>
				</button>

  </ng-container>

  <ng-container *ngSwitchCase="true">
  
				<md-menu #appMenu2="mdMenu">
					<button md-menu-item (click)="logout()"> Sign out </button>
				</md-menu>
				<button md-icon-button [mdMenuTriggerFor]="appMenu2">
					<md-icon>person</md-icon>
				</button>
  </ng-container>


</section>