<section [ngSwitch]="isAuth">

  <h3 *ngSwitchCase="false">Choose your Federated Identity Provider</h3>

  <md-card *ngSwitchCase="false">

    <button md-raised-button (click)="login('google')">
      <img width="30" src="assets/google-logo.png" />Use My Google Account
    </button>

    <button md-raised-button (click)="login('facebook')">
      <img width="30" src="assets/facebook-logo.png" />Use My Facebook Account
    </button>

    <button md-raised-button (click)="login('github')">
      <img width="30" src="assets/github-logo.png" />Use My Github Account
    </button>

  </md-card>

  <md-card *ngSwitchCase="true">
  <md-card-header>
    <div md-card-avatar class="waffler-picture">
        <img [src]='user.avatar' alt="">
      </div>
    <md-card-title>{{ user.name }}</md-card-title>
    <md-card-subtitle>{{ user.email || '(no email)' }}</md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button md-raised-button (click)="logout()">
         Logout
    </button>
  </md-card-actions>
</md-card>


</section>