
div {
    text-align: center;
    margin: 10px;
}

section {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: auto;
  padding: 20px;
}

md-card {
  text-align: center;
}


button {
  width: auto;
  margin: 10px 0;
}

.example-header-image {
  background-size: cover;
}