<md-sidenav-container>
	<md-sidenav #sidenav mode="side">
		<md-list>
			<md-list-item><button md-button>Connexion</button></md-list-item>
  				<md-divider></md-divider>
			<md-list-item><button md-button>Listes publiques</button></md-list-item>
			<md-list-item><button md-button>Mes listes</button></md-list-item>
			<md-divider></md-divider>
			<md-list-item><button md-button>À propos</button></md-list-item>
		</md-list>
	</md-sidenav>
	<button md-mini-fab (click)="sidenav.toggle()" class="sidenav_icon"><md-icon>menu</md-icon></button>
	<div class="main_page">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>
