md-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav_menu {
    clear: right;
}

.sidenav_icon {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.sidenav_container_icon {
    margin-left: 10px;
    margin-top: 10px;
}

.main_page {
    margin-left: 10px;
    margin-top: 10px;
}