<md-sidenav-container>
	<md-sidenav #sidenav mode="over">
		<button md-mini-fab (click)="sidenav.toggle()" class="sidenav_icon"><md-icon>menu</md-icon></button>
		<div class="sidenav_menu">
			<md-list>
				<md-list-item><a routerLink="/"><button md-button>Home</button></a></md-list-item>
				<md-list-item><a routerLink="/signin"><button md-button>Sign In</button></a></md-list-item>
				<md-divider></md-divider>

				<md-list-item><a routerLink="/lists"><button md-button>Public lists</button></a></md-list-item>
				<md-list-item><button md-button>My lists</button></md-list-item>
				<md-divider></md-divider>

				<md-list-item><button md-button>About</button></md-list-item>
			</md-list>
		</div>
	</md-sidenav>

	<div class="root-container">
		<md-toolbar>
			<button md-mini-fab (click)="sidenav.toggle()">
				<md-icon>menu</md-icon>
			</button>

			<span class="logo">
				<a href="/"><img src="assets/logo_simple_right.png"></a>
			</span>
			<p id="app-title">Furry Waffle Amazing Lists</p>
		</md-toolbar>

		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>