html {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

md-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav_menu {
    clear: right;
}

.sidenav_icon {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.main_page_container {
    display: flex;
    flex-direction: row;
}

.sidenav_icon_container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.main_page {
	width: 100%;
}

.logo {
	width: 40px;
	margin-left: 20px;
	margin-right: 50px;
}