md-list {
    padding: 0 16px;
}

#more-button {
    margin-left: auto;
    md-icon {
        color: black;
        margin: 0;
    }
}

#waffle-list-container {
    padding: 5% 25%;
}

.deleteButton {
    margin: 10px;
}

.waffle-list {
    padding: 0;

    md-card-header, md-card-actions, md-card-content {
        padding: 24px;
    }
    md-card-header {
        padding-bottom: 0;
    }
}


.item-container.waffle-input {
    border: none;
    padding: 0 16px !important;
    md-input-container {
        margin-top: 20px;
        width: 100%;
    }
}

md-card-header div img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.waffle-list-illustration {
    height: 200px;
    width: 100%;
    position: relative;
    
    img {
        object-fit: cover;
        position: relative;
        height: 200px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    &:after {
        content: '';
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
    }
}

md-icon {
    margin: auto;
    margin-left: 30px;
    color: rgb(210,210,210);
    cursor: pointer;
    &:hover {
        color: black;
    }
}

.item-controls md-icon:first-child { 
    margin-left: 0;
}

.item-controls {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    float: right;
}


@media screen and (max-width: 640px) {
    #waffle-list-container {
        padding: 8% 10%;
    }
}

@media screen and (max-width: 400px) {
    #waffle-list-container {
        padding: 8% 5%;
    }
}
