<div id="waffle-list-container">
  <md-card class="waffle-list">
    <md-card-header>
      <div md-card-avatar class="waffler-picture">
        <img src="https://akimg2.ask.fm/assets2/060/372/337/664/normal/av_e1019141bd22089d0fff2701ddac2914.jpg" alt="">
      </div>
      <md-card-title>
        {{ (list | async)?.name }}
      </md-card-title>
      <md-card-subtitle>Le gras, c'est la vie!</md-card-subtitle>

      <button id="more-button" md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="showSettings()">
          <md-icon>settings</md-icon>
          <span>Settings</span>
        </button>
        <button md-menu-item>
          <md-icon>delete forever</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </md-card-header>

    <div class="waffle-list-illustration">
      <img src="http://i.imgur.com/Ajlyv.jpg">
    </div>

    <md-card-content>
      <p>
        Pour cette semaine de coding week, M Charoy paye le barbecue et la binouze ce vendredi.
        Il faut qu'on se repartisse les achats pour la soirée ;).
      </p>

      <md-list>
        <md-list-item *ngFor="let item of itemElements | async">
          <ng-container *ngIf="item" >
            <div *ngIf="(list | async)?.vote == true ; else elseBlock" class="item-container">
              {{item.voteValue}} {{ item.name }}
              <div class="item-controls">
                <md-icon (click)="addVote(item.$key, item.voteValue)">thumb_up</md-icon>
                <md-icon (click)="deleteElement(item.$key)">clear</md-icon>
              </div>
            </div>

            <ng-template #elseBlock>
              <div class="item-container">
                <md-checkbox [checked]=item.checked (click)="updateItem(item.$key, item.checked)"></md-checkbox>
                {{ item.name }}
                <div class="item-controls">
                  <md-icon (click)="deleteElement(item.$key)">clear</md-icon>
                </div>
              </div>


            </ng-template>
          </ng-container>
        </md-list-item>

        <div class="item-container waffle-input">
          <md-input-container>
            <input mdInput placeholder="Buy saint emilion wine!" (keyup.enter)="addItem($event)" [(ngModel)]="itemInput">
          </md-input-container>
        </div>
      </md-list>

    </md-card-content>

  </md-card>
</div>
