#waffle-list-container {
    padding: 2% 25%;
}

.deleteButton {
    margin: 10px;
}

.waffle-list {
    padding: 0;

    md-card-header, md-card-actions, md-card-content {
        padding: 24px;
    }
    md-card-header {
        padding-bottom: 0;
    }
}


#input-item {
    md-input-container {
        margin-top: 20px;
        width: 100%;
    }
}

md-card-header div img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.waffle-list-illustration {
    height: 200px;
    width: 100%;
    position: relative;
    
    img {
        object-fit: cover;
        position: relative;
        height: 200px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    &:after {
        content: '';
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
    }
}