<div>
    
  <h3 md-subheader>Wafflers</h3>  
  <md-dialog-content>
    <md-list>
      <md-list-item *ngFor="let user of users">
        <img md-list-avatar src="https://akimg2.ask.fm/assets2/060/372/337/664/normal/av_e1019141bd22089d0fff2701ddac2914.jpg" alt="...">
        <h3 md-line> {{ user }} </h3>
      </md-list-item>
      <md-list-item class="waffle-input">
        <md-input-container>
          <input mdInput placeholder="Add a waffler" [(ngModel)]="userEmailInput">
        </md-input-container>
      </md-list-item>
    </md-list>
  </md-dialog-content>
 
</div>
