<div>
  
  <h3 md-subheader>Wafflers</h3>  

  <md-dialog-content>
    <md-list *ngIf="users | async as res ">
      
      <md-list-item *ngIf="(data.list | async)?.owner as userID">
        <img md-list-avatar class="waffler-picture" [src]="res[userID].avatar" alt="...">
        <h3 md-line> {{ res[userID].name }} </h3>
        <h3 md-line> {{ res[userID].email }} </h3>
      </md-list-item>
      
      <md-list-item *ngFor="let userID of (data.list | async)?.shared | keys">
        <img md-list-avatar class="waffler-picture" [src]="res[userID].avatar" alt="...">
        <h3 md-line> {{ res[userID].name }} </h3>
        <h3 md-line> {{ res[userID].email }} </h3>
        <md-icon class="hover-effect" (click)="deleteUser(userID)">clear</md-icon>

      </md-list-item>
      
      <md-list-item class="waffle-input">
        <md-input-container>
          <input mdInput [formControl]="emailControl" placeholder="waffler@gmail.com" (keydown.enter)="addEmail($event)" [mdAutocomplete]="auto">
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let user of filteredUsers | async" [value]="user.email">
            {{ user.email }}
          </md-option>
        </md-autocomplete>

      </md-list-item>

    </md-list>
  </md-dialog-content>

</div>
