<div>
  <!--<pre>
    {{ data.key }}
  </pre>
  <pre>
    {{ data.list | async | json }}
  </pre>
  <h1>{{ (data.list | async)?.name }}</h1>-->
  <h3 md-subheader>Wafflers</h3>  
  <md-dialog-content>
    <md-list>
      <!--<md-list-item>
        <img md-list-avatar [src]="users[data.list.owner].avatar" alt="...">
        <h3 md-line> {{ (data.list | async)?.owner }} </h3>
      </md-list-item>
      <md-list-item *ngFor="let userID of (data.list | async)?.users">
        <img md-list-avatar [src]="users[userID].avatar" alt="...">
        <h3 md-line> {{ userID }} </h3>
      </md-list-item>-->
      
      <md-list-item class="waffle-input">
        <md-input-container>
          <input mdInput placeholder="waffler@gmail.com" (keydown.enter)="addEmail($event)">
        </md-input-container>
      </md-list-item>
    </md-list>
  </md-dialog-content>

</div>
