@import 'theme';
$height: 500px;

:host {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
    100% {
		opacity: 1;
	}
}

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $height;
    z-index: 0;
    .background {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            position: absolute;
            width: 50%;
            height: auto;
            object-fit: cover;
            position: relative;
            padding: 0;
            margin: 0;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.8s;
        }

        &:after {
            content: '';
            position: absolute;
            background:rgba(50,50,50,0.7);
            z-index: 500;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }
    }
}

.waffle-form {
    width: 30%;
    height: $height;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid $dark-green;
    //border-top: 2px solid darkgreen;
    box-shadow: none !important;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        z-index: 1;
    }

    md-card-title {
        z-index: 30;
    }
    md-card-content {
        width: 100%;
        z-index: 30;
    }
    
    section {
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 60px;
        button {
            margin: auto;
        }
        & * {
            width: 100%;
        }
    }
    section:last-child {
        margin-top: 30px;
    }

    textarea {
        width: 100%;
        resize: none;
        //height: 300px;
    }
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 40%;
    text-align: left;
    h1, h2{
        font-weight: 300;
    }
    h2 {
        align-self: flex-start;
    }

    #charoy {
        margin: 50px;
        width: 200px;
        height: 200px;
        //height: auto; 
        //filter: blur(5px);
    }
}


@media screen and (max-width: 1200px) {
    .waffle-form {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .about {
        width: 80%;
    }

    .waffle-form {
        width: 70%;
    
        .options section:first-child {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            md-checkbox {
                margin-top: 20px;
                text-align: left;
            }
        }
    }
}