@import 'theme';
$height: 500px;

md-card {
    min-width: $min-width
}

:host {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
    100% {
		opacity: 1;
	}
}

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $height;
    z-index: 0;
    .background {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            position: absolute;
            width: 50%;
            height: auto;
            object-fit: cover;
            position: relative;
            padding: 0;
            margin: 0;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.8s;
        }

        &:after {
            content: '';
            position: absolute;
            background:rgba(50,50,50,0.7);
            z-index: 500;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }
    }
}

.waffle-form {
    width: 30%;
    height: $height - 50px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    //border-bottom: 2px solid $dark-green;
    border: 2px solid $dark-green;
    //border-top: 2px solid darkgreen;
    box-shadow: none !important;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        z-index: 1;
    }

    md-card-title {
        z-index: 30;
    }


    md-card-content {
        width: 100%;
        z-index: 30;
    }
    
    section {
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 60px;
        button {
            margin: auto;
        }
        & * {
            width: 100%;
        }
    }
    section:last-child {
        margin-top: 30px;
    }

    textarea {
        width: 100%;
        resize: none;
        //height: 300px;
    }
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 40%;
    text-align: left;
    h1 {
        //color: $dark-green;
        padding: 20px;
    }
    h1, h2{
        font-weight: 300;
    }
    h2 {
        align-self: flex-start;
    }

    p {
        margin-right: auto;
    }

    #charoy {
        margin: 20px;
        width: 200px;
        height: 200px;
    }

    .icons-tech {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 30px;
        justify-content: space-around;
        a {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }    
}

.devs {
    width: 100%;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    //width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    .container {
        display: flex;
        flex-direction: column;
        color: inherit;
        text-decoration: none;
        color: transparent;
        transition: 0.2s;

        &:hover {
            color: gray;
            transition: 0.3s;
        }
        .avatar{
            position: relative;
            width: 120px;
            height: 120px;
            margin: 10px;            
            border-radius: 50%;
            background-size: cover;
            position: relative;
            vertical-align: middle;
            //box-sizing: border-box;
            border: 3px solid white;
            transition: 0.2s;
            
            &:hover {
                transition: 0.3s;
                border: 3px solid $dark-green;
                color: black;
            }
        }
        

        .yann{
          background-image: url('/assets/yann.jpg');
          background-repeat: no-repeat;
        }

        .yannick{
          background-image: url('/assets/yannick.jpg');
          background-repeat: no-repeat;
        }

        .quentin{
          background-image: url('/assets/quentin.jpg');
          background-repeat: no-repeat;
        }

        .eliot{
          background-image: url('/assets/eliot.jpg');
          background-size: contain;
          background-repeat: no-repeat;
        }

        p {
            margin: 5px auto;
            margin-bottom: 10px;
        }
    }
}


@media screen and (max-width: 1200px) {
    .about {
        width: 70%;
    }
    .waffle-form {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .about {
        width: 80%;
    }

    

    .waffle-form {
        width: 70%;
    
        .options section:first-child {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            md-checkbox {
                margin-top: 20px;
                text-align: left;
            }
        }
    }
}