<md-sidenav-container>
	<md-sidenav #sidenav mode="over">
		<button md-icon-button (click)="sidenav.toggle()" class="sidenav_icon">
			<md-icon>clear</md-icon>
		</button>

		<div class="sidenav_menu">
			<md-list>
				<div (click)="sidenav.toggle()"><a routerLink="/"><button md-button>Home</button></a></div>
				<md-divider></md-divider>


				<div (click)="sidenav.toggle()"><a routerLink="/lists"><button md-button>Public lists</button></a></div>
				<div (click)="sidenav.toggle()"><a routerLink='/shared-lists'><button md-button>Shared lists</button></a></div>
				<div (click)="sidenav.toggle()"><a routerLink='/private-lists'><button md-button>My lists</button></a></div>
				<md-divider></md-divider>

				<!--<div><button md-button>About</button></div>-->
			</md-list>
		</div>
		<div class="logos-container">
			<a href="https://github.com/TELECOMNancy/pweb-2017-team-fomo" target="_blank"><img class="hover-effect logo" src="assets/github-logo.svg" alt=""></a>
		</div>
	</md-sidenav>

	<div class="root-container">
		<md-toolbar>
			<button md-icon-button (click)="sidenav.toggle()">
				<md-icon>menu</md-icon>
			</button>

			<span class="logo">
				<a href="/"><img src="assets/logo_simple_right.png"></a>
			</span>
			<p id="app-title">Furry Waffle Amazing Lists</p>
				<div class="menuButton">
					<app-sign-in></app-sign-in>
				</div>
		</md-toolbar>

		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>
