<div class="lists-container">

	<md-card *ngFor="let list of lists | async">

		<div *ngIf="keyEditedList == list.$key ; else elseBlock">
		<md-input-container>
		<input #listName mdInput [(ngModel)]="list.name" placeholder="List Name">
		</md-input-container>
			<button md-mini-fab (click)="validChange(list.$key, listName.value)" >
	          		<md-icon>done</md-icon> 
	        </button>
		</div>
    	<ng-template #elseBlock>
			<button md-button (click)="onSelect(list.$key)" >
				{{list.name}}
			</button>
			<button md-mini-fab (click)="editName(list.$key)" >
	          		<md-icon>create</md-icon> 
	        </button>
    	</ng-template>
	</md-card>
	
</div>
