<div class="lists-container">

	<ng-container *ngFor="let list of lists | async">
    <md-card *ngIf="checkAccess(list)" >
  		<div *ngIf="keyEditedList == list.$key ; else elseBlock">
  		<md-input-container>
  		<input #listName mdInput [(ngModel)]="list.name" placeholder="List Name">
  		</md-input-container>
  			<button md-mini-fab (click)="ValideChange(list.$key, listName.value)" >
  	          		<md-icon>done</md-icon>
  	        </button>
  			<button md-mini-fab (click)="deleteList(list.$key)" >
  				<md-icon>delete</md-icon>
  			</button>
  		</div>
      	<ng-template #elseBlock>
      		<button md-button (click)="onSelect(list.$key)" >
  				{{list.name}}
  			</button>
  			<button md-mini-fab (click)="EditName(list.$key)" >
  	          		<md-icon>create</md-icon>
  	        </button>
  			<button md-mini-fab (click)="deleteList(list.$key)" >
  				<md-icon>delete</md-icon>
  			</button>
      	</ng-template>
      </md-card>
	</ng-container>

</div>
