.lists-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 2px;
    padding: 12px;
}

md-card {
    display: inline-block;
    margin: 6px;
}

@media screen and (max-width: 640px) {
    .lists-container {
        justify-content: center;
        flex-direction: column;
    }
}
